name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Build Debug APK
        run: |
          ./gradlew clean
          ./gradlew assembleDebug
                   
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HelloWorldApp-APK
          path: app/build/outputs/apk/debug/app-debug.apk

